{% extends "base.html" %}
{% block content %}

<h1 class="text-bold">
  Are you sure you want to delete this
  {% if task %}
  task
  {% elif tag %}
  tag
  {% endif %}
  ?
</h1>

<form method="post" action="">
  {% csrf_token %}
  <button
      type="submit"
      class="btn btn-danger"
  >
    Yes, Delete
  </button>

  {% if task %}
  <a class="btn btn-secondary" href="{% url 'to_do_list:home_page' %}">
    Cancel
  </a>
  {% elif tag %}
  <a class="btn btn-secondary" href="{% url 'to_do_list:tags_list' %}">
    Cancel
  </a>
  {% endif %}

</form>

{% endblock %}