{% extends "base.html" %}
{% block content %}

<div class="container-fluid mt-3">

  <div class="d-flex justify-content-between align-items-start mb-4">
    <h1 class="display-4 font-weight-bold mb-0">
      Tags
    </h1>

    <a href="{% url 'to_do_list:tags_create' %}"
       class="btn btn-primary btn-lg">
      Add
    </a>
  </div>

  {% if tags %}

    <table class="table">
      <thead>
        <tr>
          <th class="h3 font-weight-bold py-3">Name</th>
          <th class="h3 font-weight-bold py-3">Update</th>
          <th class="h3 font-weight-bold py-3">Delete</th>
        </tr>
      </thead>

      <tbody>
        {% for tag in tags %}
          <tr>
            <td class="align-middle py-4 h4">
              {{ tag.name }}
            </td>

            <td class="align-middle py-4">
              <a href="{% url 'to_do_list:tags_update' tag.id %}"
                 class="btn btn-secondary btn-lg">
                Update
              </a>
            </td>

            <td class="align-middle py-4">
              <a href="{% url 'to_do_list:tags_delete' tag.id %}"
                 class="btn btn-secondary btn-lg">
                Delete
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>

    </table>

  {% else %}
    <p>No tags yet. Add one!</p>
  {% endif %}

</div>

{% endblock %}